.counter-container {
  background-color: #627286;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-container h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.out-of-view {
  text-align: center;
  height: 30vh;
}
